DB_HOST="Your Host Here"
DB_PORT="Your Port Here"
DB_NAME="Your Database Name Here"

DB_USERNAME="Your Database Username Here"
DB_PASSWORD="Your Database Username Password Here"
JWT_SECRET="Your JWT_SECRET KEY HERE" # use $b = New-Object byte[] 48; [Security.Cryptography.RandomNumberGenerator]::Create().GetBytes($b); [Convert]::ToBase64String($b) for generating the key